<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/footer/Rajan.css"/>
</head>
<body>
<footer>
    <section class="nb-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-single">

                        <div class="dummy-logo">
                            <div class="icon pull-left brand">

                            </div>
                            <h2>About MY work</h2>
                            <p>Hard-working, designer and developer offering excellent work ethic, enthusiasm and
                                adaptability with experience in graphic design,</p>
                        </div>

                        <p>....</p>
                        <a href="#project" class="btn btn-footer">Read More</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-single useful-links">
                        <div class="footer-title"><h2>Navigations</h2></div>
                        <ul class="list-unstyled">
                            <li><a href="#home">Home <i class="fa fa-angle-right pull-right"></i></a></li>
                            <li><a href="#about">About <i class="fa fa-angle-right pull-right"></i></a></li>
                            <li><a href="#project">Our Projects <i class="fa fa-angle-right pull-right"></i></a></li>
                            <li><a href="#contact">Contact <i class="fa fa-angle-right pull-right"></i></a></li>
                            <li><a href="#service">service <i class="fa fa-angle-right pull-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>

                <div class="col-md-3 col-sm-6">

                    <div class="col-sm-12 left-clear right-clear footer-single footer-project">
                        <div class="footer-title"><h2>Latest Projects</h2></div>
                        <a href="#project" class="btn btn-footer">Automoblox</a>


                    </div>

                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-single">
                        <div class="footer-title"><h2>Contact Information</h2></div>
                        <address>
                            364 duckworth street <br>
                            <i class="fa"></i> 123456789 <br>
                            <i class="fa"></i> Singhrajan605@gmail.com<br>
                        </address>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="nb-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 copyrt xs-center">
                    2018 © All Rights Reserved. <a href="">Terms & Conditions</a> | <a href="">Privacy Policy</a>
                </div>

            </div>
        </div>
    </section>
</footer>
</body>
</html>
